/* CART 
* 2022 
* v 0.1.1
*/


/* ADD TO CART */
.addToCart {
  display: flex;
  flex-direction: row;
  color: var(--text-color-inverted);
  background-color: var(--color_primary);
  align-self: flex-end;
  padding: var(--space-sm) var(--space-xl);
  border-radius: var(--radius-md);
  font-weight: var(--bold);
  align-items: center;
  height: var(--size-input);
  justify-content: center;
  transition: var(--transition);
}

.addToCart:hover {
  box-shadow: var(--shadow);
}

/* CART */
.quantity_design {
  height: 0;
  color: var(--text-color-inverted);
  font-size: var(--text-xl);
  font-weight: var(--bold);
  text-align: center;
  transform: translatey(calc(calc(var(--size_cart) *-1) + calc(var(--text-xl) *0.23)));
}
