/**
 * LIGNE PRODUIT DESIGN PANIER
 * v 0.1.1
 * 2021-2022
 *
 */

 .title {
  font-size: var(--text-lg);
  font-weight: var(--semibold);
  line-height: var(--solid);
}

.variant {
  font-size: var(--text-lg);
  color: var(--color_primary);
  padding-bottom: var(--space-sm);
}

.remove button {
  font-size: var(--text-md);

  display: inline-flex;
  align-items: center;
}

.remove button svg {
  margin-right: var(--space-md);
}

.totals {
  text-align: right;
}

.price_column,
.totals {
  display: none;
}

@media (min-width: 640px) {
  .price_column,
  .totals {
    display: block;
  }
}
