

/*
*
* https://alvarotrigo.com/blog/hamburger-menu-css-responsive/
* https://www.w3schools.com/css/css3_transitions.asp
* https://stackoverflow.com/questions/33426539/react-animate-transition-between-components
* https://blog.bitsrc.io/how-to-implement-smooth-transitions-in-react-bd0497b06b8
* https://www.sliderrevolution.com/resources/css-hamburger-menu/
* https://medium.com/javascript-in-plain-english/create-a-reusable-sidebar-component-with-react-d75cf48a053a 
* https://www.youtube.com/watch?v=17g0QZXRfQk
* https://github.com/paigen11/paigeniedringhaus.com/blob/master/src/components/Navigation/Navigation.js
* https://blog.bitsrc.io/animate-a-mobile-hamburger-bar-menu-using-css-and-just-a-hint-of-javascript-f31f928eb992
* https://github.com/aru120/hamburgerNav-demo/blob/main/components/Hamburger.js
* https://ramonak.io/posts/react-context-api-update-from-nested-component
*/


.menu_display {
  z-index: 1;
  width: 100%;
  height: 0;
  display: flex;
  background-color: rgb(var(--orange_366_rgb));
  align-items: start; /* That's work without, it's just in cas !!! */
  justify-content: center;
  position: fixed;
  /* animate nav opening details start */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease, height 1s ease;
  /* border: solid 1px white; */
}

.offset_text {
  transform: translateX(var(--size_menu_offset));
  /* border: solid 1px white; */
}

.menu_display_open {
  /* animate nav opening details end */
  opacity: 1;
  visibility: visible;
  height: 100vh;
}






.toggle_menu {
  height: 50px;
  width: 50px;
  z-index: 1;
  /* border: solid 1px white; */
}

/* inspired from https://github.com/aru120/hamburgerNav-demo/blob/main/components/Hamburger.js */
.hamburger_container {
  display: flex;
  justify-content: center;
  align-items: center;

}
.hamburger{
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  /* border: solid 1px white; */
}
.burger{
  width: 2rem;
  height: 2px;
  border-radius: 2px;
  background-color: rgb(var(--lin_rgb));
  transform-origin: 1px;
  transition: all 0.3s linear;
}
