/**
 * FICHE PRODUIT COMMANDE / ORDER / DESIGN
 * v 0.0.2
 * 2022-2022
 *
 */
 
 .add_to_cart {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: var(--space-lg);
  font-size: 1.5em;
}


.label_font {
  font-size: var(--space-lg);
  line-height: var(--space-xl);
  padding-right: var(--space-md);
  color: var(--text-color-secondary);
}


.tag_list a {
  font-weight: var(--semibold);
  color: var(--text-color-secondary);
  padding-right: var(--space-md);
}

.tag_list a:hover {
  color: var(--text-color);
  text-decoration: underline;
}

.options_wrapper {
  display: grid;
  grid-template-columns: var(--product-grid);
  gap: var(--space-lg);
  padding-bottom: var(--space-lg);
}

.select_title {
  font-size: var(--text-lg);
}

.select_title:first-letter {
  text-transform:uppercase;
}

.select_variant {
  background-color: var(--input-background);
  border-radius: var(--radius-md);
  cursor: pointer;
  margin-top: var(--space-md);
  min-width: 40ch;
  position: relative;
}

.select_variant select {
  appearance: none;
  background-color: transparent;
  border: none;
  color: var(--input-text);
  cursor: inherit;
  font-size: var(--text-lg);
  font-weight: var(--medium);
  height: var(--size-input);
  margin: 0;
  padding: var(--space-sm) var(--space-lg);
  padding-right: var(--space-2xl);
  width: 100%;
}

.select_variant::after {
  background-image: url("data:image/svg+xml,%3Csvg fill='none' height='8' viewBox='0 0 13 8' width='13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m6.87794 7.56356c-.19939.23023-.55654.23024-.75593 0l-5.400738-6.23623c-.280438-.32383-.050412-.82733.377968-.82733h10.80146c.4284 0 .6584.5035.378.82733z' fill='%2378757a'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  content: "";
  height: 8px;
  position: absolute;
  right: var(--space-lg);
  top: 50%;
  transform: translateY(-50%);
  width: 13px;
  pointer-events: none;
}


.metadata_section {
  padding-top: var(--space-3xl);
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: baseline;
}