.container {
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 1;
  top: 0;
  /* background-color: var(--noisette); */
  background-color: var(--background_header);
}

/* GLOBAL ARCHITECTURE */
.header {
  display: grid;
  max-width:  var(--width_max);
  margin: 0 auto;
  width: 100%;
  padding: var(--size-gap) var(--size-gutter);
  grid-template-columns: var(--size-input) 1fr min-content min-content;

  grid-template-areas: "picto menu_big . . cartButton";
  /* background-color: var(--background_header); */
}

.header::after {
  grid-area: menu;
  content: "";
  display: block;
  width: var(--space-2xl);
  z-index: 1;
  align-self: stretch;
  justify-self: flex-end;
}

@media (max-width: 640px) {
  .header {
    grid-template-areas: "picto menu_small cartButton";
  }
}


/* LOGO / PICTO > BUTTON in this architecture */
.picto {
  grid-area: picto;
  width: var(--size-input);
  height: var(--size-input);
  place-items: center;
  /* border: solid 1px white; */
}


/* MENU CONTENT */
.menu_big {
  grid-area: menu_big;
  align-self: stretch;
  /* border: solid 1px white; */
}

.menu_small {
  grid-area: menu_small;
}


/* SEARCH BUTTON */
.searchButton {
  color: var(--text-color-secondary);
  grid-area: searchButton;
  width: var(--size-input);
  height: var(--size-input);
  display: grid;
  place-items: center;
}

.searchButton:hover {
  color: var(--text-color);
}

.searchButton[aria-current="page"] {
  color: var(--primary);
}