/**
* HEADER DESIGN
* 2021-2022
* V 0.1.2
*/
.container {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  background-color: var(--background_header);
  /* border: solid 1px white; */
}

/* GLOBAL ARCHITECTURE */
.header {
  /* position: relative; */
  display: grid;

  max-width: var(--width_max);
  margin: 0 auto;
  width: 100%;
  /* max-width: var(--layout_max); */
  padding: var(--size-gap) var(--size-gutter);
  grid-template-columns: var(--size-input) 1fr;
  /* grid-template-areas: "logo menu_small cart"; */
  /* grid-template-areas: "logo menu_small user cart"; */
  grid-template-areas: "logo menu_small cart";
  /* border: solid 1px white; */
}

/* Ici, je ne comprends pas bien à quoi cela sert */
.header::after {
  grid-area: menu_small;
  /* content: "";
  display: block;
  width: var(--space-2xl);
  z-index: 1;
  align-self: stretch;
  justify-self: flex-end; */
}


/* LOGO / PICTO > BUTTON in this architecture */
.logo_long_container {
  grid-area: logo;
  /* grid-column: span 2; */
  width: var(--size_logo_header_width);
  height: var(--size_logo_header_height);
  place-items: center;
  /* border: solid 1px white; */
}

.logo_square_container {
  grid-area: logo;
  /* grid-column: span 2; */
  width: var(--size_logo_header_height);
  height: var(--size_logo_header_height);
  place-items: center;
  /* border: solid 1px white; */
}

.cart_container {
  grid-area: cart;
  /* grid-column: span 1; */
  width: var(--size_picto_header);
  height: var(--size_picto_header);
  place-items: center;
  /* border: solid 1px white; */
}



/* MENU CONTENT */
.menu_big {
  grid-area: menu_big;
  /* grid-column: span 4; */
  
  /* width: var(--size_menu_header_text_width);
  place-items: center; */
  /* border: solid 1px white; */
}

.menu_small {
  grid-area: menu_small;
  /* grid-column: span 1; */
  place-items: center;
}





@media (min-width: 780px) {
  .header {
    grid-template-areas: "logo . menu_big cart";
    grid-gap: var(--size-gap);
  }

  /* .header {
    grid-template-columns: repeat(7,1fr);
  } */

  .header::after {
    grid-area: menu_big;
  }
}




/*
*
*
*
* NOt use for the moment
*
*
*/


.user_container {
  grid-area: user;
  width: var(--size_picto_header);
  height: var(--size_picto_header);
  place-items: center;
  /* border: solid 1px white; */
}

.picto {
  width: var(--size_cart);
  height: var(--size_cart);
  transform: translatey(3px);
  margin: 0 auto;
  /* border: solid 1px white; */
}

/* SEARCH BUTTON */
.searchButton {
  color: var(--text-color-secondary);
  grid-area: searchButton;
  width: var(--size-input);
  height: var(--size-input);
  display: grid;
  place-items: center;
}



.searchButton[aria-current="page"] {
  color: var(--color_primary);
}


.searchButton:hover {
  color: var(--text-color);
}