
.container {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  /* height:100%; */
  /* position: sticky; */
  z-index: 1;
  top: 0;
  /* background-color: var(--noisette); */
  background-color: var(--background_header);
  /* border: solid 1px white; */
}

/* GLOBAL ARCHITECTURE */
.header {
  display: grid;
  max-width:  var(--width_max);
  margin: 0 auto;
  width: 100%;
  padding: var(--size-gap) var(--size-gutter);
  grid-template-columns: var(--size-input) 1fr min-content min-content;

  grid-template-areas: "logo menu_big . . cart";
  /* background-color: var(--background_header); */
  /* border: solid 1px white; */
}

/* Ici, je ne comprends pas bien à quoi cela sert */
.header::after {
  grid-area: menu_big;
  content: "";
  display: block;
  width: var(--space-2xl);
  z-index: 1;
  align-self: stretch;
  justify-self: flex-end;
}


/* LOGO / PICTO > BUTTON in this architecture */
.logo {
  grid-area: logo;
  width: var(--size_logo);
  height: var(--size_logo);
  place-items: center;
  /* border: solid 1px white; */
}

.cart {
  grid-area: cart;
  width: var(--size_cart);
  height: var(--size_cart);
  place-items: center;
  /* border: solid 1px white; */
}


/* MENU CONTENT */
.menu_big {
  grid-area: menu_big;
  align-self: stretch;
  /* border: solid 1px white; */
}

.menu_small {
  grid-area: menu_small;
}


/* SEARCH BUTTON */
.searchButton {
  color: var(--text-color-secondary);
  grid-area: searchButton;
  width: var(--size-input);
  height: var(--size-input);
  display: grid;
  place-items: center;
}

.searchButton:hover {
  color: var(--text-color);
}

.searchButton[aria-current="page"] {
  color: var(--color_primary);
}


@media (max-width: 640px) {
  .header {
    grid-template-areas: "logo menu_small cart";
  }
}