/**
* Article css
* 2022-2022
* v 0.1.1
*/

/**
* BASE
*/
.container {
  background: white;
}

.article {
  font-size: var(--text-lg);
  line-height: 130%;
  color: var(--orange_366);
  background: white;
  margin: 0 auto;
  padding: var(--size-gutter);
  /* padding: 2em; */
  max-width: var(--width_max);

  text-align: justify;
}

/**
* TITLE
*/
.article h1,
.article h2 {
  line-height: 90%;
  font-size: var(--text-2xl);
  font-weight: var(--semibold);
  text-align: left;
  margin-top: var(--space-3xl);
  margin-bottom: 0.5em;
}

.article h3,
.article h4,
.article h5,
.article h6 {
  line-height: 90%;
  font-size: var(--text-prose);
  font-weight: var(--semibold);
  text-align: left;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

/**
* LIST
*/
.article li {
  list-style-position: inside;
}

.article a {
  text-decoration: underline;
}

/**
* IMAGE
*/
.container_image {
  padding-bottom: var(--space-md);
  margin : 0 var(--size_gutter_x2);
}

.image {
  max-width:var(--width_max);
  height: calc(var(--height_header) * 3);
}

/**
* UX
*/

/* .article a:visited {
  text-decoration: none;
}

.article a:hover {
  text-decoration: underline;
}

.article a:active {
  text-decoration: underline;
} */


