.txt_style {
  font-size: var(--text-lg);
  line-height: 130%;
  color: var(--orange_366);
  background: white;
  margin: 0 auto;
  padding: 2em;
  max-width: 850px;

  text-align: justify;
}

.container_style {
  background: white;
}
