/*
* PAGE CONTENTFUL DESIGN
* 2022-2022
* v 0.2.0
*/ 

.container {
  background: white;
}

.container_image {
  padding-bottom: var(--space-md);
  margin : 0 var(--size_gutter_x2);
}

.image {
  max-width:var(--width_max);
  height: calc(var(--height_header) * 3);
}


/**
* ARTICLE
*/
.article {
  font-size: var(--text-lg);
  line-height: 130%;
  width: 100%;
  color: var(--orange_366);
  background: white;
  margin: 0 auto;
  /* PADDING */
  padding-bottom: var(--space-md);
  padding-top: var(--size_gutter);
  padding-left: var(--size_gutter_x2);
  padding-right: var(--size_gutter_x2);

  max-width: var(--width_max);
  text-align: justify;
  /* border: solid 1px var(--orange_366);; */
}

.article h1,
.article h2 {
  font-size: var(--text-2xl);
  font-weight: var(--semibold);
  text-align: left;
  width: 70%;
  line-height: 110%;
  /* margin-top: var(--space-3xl); */
  margin-bottom: 0.2em;
  margin-top: 0.3em;
}

.article h3,
.article h4,
.article h5,
.article h6 {
  font-size: var(--text-prose);
  font-weight: var(--semibold);
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.article li {
  list-style-position: inside;
}

gt
.article a {
  text-decoration: underline;
}
/* .article a:visited {
  text-decoration: none;
}

.article a:hover {
  text-decoration: underline;
}

.article a:active {
  text-decoration: underline;
} */


