.txt_style {
  font-size: var(--text-lg);
  line-height: 130%;
  color: var(--orange_366);
  background: white;
  margin: 0 auto;
  padding: var(--size-gutter);
  /* padding: 2em; */
  max-width: var(--width_max);

  text-align: justify;
}

.container_style {
  background: white;
}
